<html>
    <head>
        <title>{{ titre }}</title>
        <link rel="stylesheet" href="css/"
    </head>
    <body>
    <div style="height: 50px;width: 900px;background-color: #313131;color: white;text-align: center">THEME GLOBAL</div>
    {% block content %}

    {% endblock %}
    </body>
</html>