<html>
    <head>
        <title>{{ titre }}</title>
        <link rel="stylesheet" href="css/"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/tgw/image/favicon.ico') }}" />
    </head>
    <body>
    <div style="height: 50px;width: 900px;background-color: #313131;color: white;text-align: center">THEME GLOBAL</div>
    {% block content %}

    {% endblock %}
    </body>
</html>