{% extends "tgwAdminBundle::theme.html.twig" %}

{% block content %}

<div class="col-lg-10 page-header">
    <h1>Création d'une nouvelle catégorie</h1>
</div>

{% if categorie == null %}
<div class="col-lg-10">
    <form method="post" action="{{ path('tgw_admin_creer_categorie') }}" class="form-horizontal">
        <div class="form-group">
            <label for="titre" class="control-label col-lg-1">Titre </label>
            <div class="col-lg-3">
                <input name="titre" id="titre" type="text"  class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-lg-offset-2">
                <input type="submit" class="btn btn-primary" valuer="Enregister" />
            </div>
        </div>


    </form>
</div>
{% else %}
    <div class="col-lg-10">
        <form method="post" action="{{ path('tgw_admin_update_categorie') }}" class="form-horizontal">
            <div class="form-group">
                <label for="titre" class="control-label col-lg-1">Titre </label>
                <div class="col-lg-3">
                    <input name="titre" id="titre" type="text" value="{{ categorie.getTitre }}"  class="form-control"/>
                </div>
            </div>
            <input type="hidden" value="{{ categorie.getId }}" name="id"/>
            <div class="form-group">
                <div class="col-lg-2 col-lg-offset-2">
                    <input type="submit" class="btn btn-primary" valuer="Enregister" />
                </div>
            </div>


        </form>
    </div>
{% endif %}
{% endblock %}