{% extends "tgwAdminBundle::theme.html.twig" %}

{% block title %}tgwAdminBundle:Admin:index{% endblock %}

    {% block content %}
        <div class="container-fluid">
            <div class="row">
                 <div class="col-lg-10">
                    <h1><img src="{{ asset('bundles/tgw/image/icons/dashboard.png') }}" class="dashboard-icon" /> Dashboard</h1>
                 </div>
                <div class="col-lg-10">
                   <div style="border:solid #333333 2px;height: 100px;padding-left: 0;padding-right: 0;background-color:white" class="col-lg-5">
                        <div  class="col-lg-12" style="height: 35px;background-color:#333333;width: 100% ">Dashboard</div>
                       <div class="shortcut"><a ><img src="{{ asset('bundles/tgw/image/icons/MacOs/TextEdit/48.png') }}" alt="Rédiger un nouvel article"/>
                               </br>Rédiger un article
                               </a>
                       </div>
                    </div>
                    <div style="border:solid #333333 2px;height: 100px;padding-left: 0;padding-right: 0;background-color:white" class="col-lg-5 col-lg-offset-1">
                        <div  class="col-lg-12" style="height: 35px;background-color:#333333;width: 100% ">Contenu</div>
                    </div>
                </div>
             </div>
        </div>
    {% endblock %}
