{% extends "tgwAdminBundle::theme.html.twig" %}

{% block title %}tgwAdminBundle:Admin:index{% endblock %}

    {% block content %}
    <h1>Welcome dans la partie Admin</h1>
        {% if app.session.get('popin') == 1 %}
            <div style="height: 30px;width: 300px;color: red">
                Oups ! Il semblerait que les informations de connexion ne soient pas les bonnes
            </div>
        {% endif %}
        </br>
        </br>
        <form method="POST" action="{{ path('login_check') }}">

            <label for="login" > LOGIN </label>
            <input type="text" name="_username" id="login" />
            </br>
            <label for="password"> PASSWORD </label>
            <input type="password" name="_password" id="password">
            </br>
            <input type="hidden" name="_target_path" value="account" />
            <input type="submit" value="Go!" />
        </form>
    {% endblock %}
