body{
    background: url("image/wood.jpg");
    color: #EEDDC9!important;
}


/* Formulaire de connexion */
.lock-closed-icon, .dashboard-icon {
    padding-bottom: 0.6%;
}

.form-connexion{
    margin-top : 15%;
    color: #EEDDC9;
}

.form-connexion .form-control{
    background: transparent!important;
}

/* Fin Formulaire de connexion*/

/* Dashboard */

/* make sidebar nav vertical */


@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        background-color: #262626;
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .navbar-default{
        background-color: black;
        border: none!important;
        color : white;
    }
    #sidebar
    {
        left: 0;
        z-index: 1000;
        display: block;
        min-height: 100%;
        background-color: #262626!important;
        bottom: 0;

    }
    .navbar-default .navbar-nav>li>a{
        color:white!important;
        width: 100%;
    }
    .navbar-default .navbar-nav>li:hover{
        background-color: #333333;
        font-weight: bold;
    }
}


.title
{
    height: 35px;
    background-color:#333333;
    width: 100%
}
#right-box table
{
    color: #5d5d5d!important;
    font-size: 16px;
}

#right-box table em
{
    font-size:12px;
}

#right-box table tr:hover
{
    border-top: solid 3px;
}

#right-box table thead
{
    font-size : 12px;
}
#left-box, #right-box
{
    border:solid #333333 2px;
    padding-left: 0;
    padding-right: 0;
    background-color:white;
    overflow: auto;
}
.shorcut:hover
{
    background-color: #737373;
    text-decoration: none;
    color : floralwhite;
}
.shorcut
{
    display: inline-block;
    border:1px solid #696969;
    text-decoration: none;text-align: center;
    padding : 10px 5px;
    font-size: 12px;
    color: #808080;
    margin-top: 15px;
    margin-bottom: 15px;

}


.shorcut img
{
    display: block;
    margin: 0 auto 10px;
    max-height: 48px;
    max-width: 48px;
}
/* Fin Dashboard*/

/* Header */
.logout-link:link
{
text-decoration: none;
}
.logout-link
{
    color: white;
    margin-top: 10px;
}
/* Fin header */
.breadcrumb
{
    background-color: transparent!important;
}
/* Fil d'ariane */



/* Fin fil d'ariane*/

/* Fomulaire redaction article */

form{
    color:black ;
}