<html>
    <head>
        <title>{{ titre }}</title>
        <link rel="stylesheet" href="css/"
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"/>
    </head>
    <body>
    <div style="height: 50px;width: 900px;background-color: #313131;color: white;text-align: center">THEME GLOBAL ADMINISTRATION</div>
    <div><a href="{{ path('dashboard') }}">Dashboard</a>|<a href="{{ path('articles') }}">Articles</a> | <a href="">Slider</a> | <a href="">Portfolio</a> </div>
    {% if app.user %}
    <a href="{{ path('logout') }}">Logout</a>
    {% endif %}
    {% block content %}

    {% endblock %}
    </body>
</html>